@import '~bootstrap/scss/bootstrap';

li {
    list-style: none;
}

ul {
    padding: 0;
}

input {

    .inputnum {
        width: 200px;
    }
}

.pipi {
    background-color: yellow;
}

.cacca {
    background-color: rgb(255, 140, 0);
}

.acqua {
    background-color: rgb(0, 166, 255);
}

.cibo {
    background-color: rgb(179, 0, 255);
}

.titolo {
    font-weight: bold;
}